.button {
  background-color: rgba(0, 128, 128, 0.5);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 2px black;
  padding: 10px 20px;
  margin: 5px;
  transition: all 0.3s ease;
}
.title {
  color: white;
  font-size: 24pt;
  font-weight: 800;
  text-shadow: 6px 6px 6px rgb(1, 1, 1);
}
.content {
  color: white;
  font-size: 14pt;
  margin-bottom: 5px;
  text-shadow: 6px 6px 6px rgb(1, 1, 1);
}

.card {
  background-image: url("/Users/pedro/Desktop/Henry/P INDIVIDUALES/PI-Countries-main/client/src/binaryGlobe.jpg");
  border-radius: 85px;
  border-bottom: 30px;
  border-top: 30px;
  margin-bottom: 120px;
  padding: 50px 50px;
  text-align: center;
  background-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 90%;
}
.center {
  text-align: center;
}
