.div {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  padding: 65px;

  background-position: center;
}
.contenedorflag {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  border: 1.25px solid rgb(255, 253, 253);
  border-radius: 14px;
  height: 250px;
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, 0.18);
  opacity: 92%;
}
.card {
  background-image: url("/Users/pedro/Desktop/Henry/P INDIVIDUALES/PI-Countries-main/client/src/binary globe image herny pi.avif");
  border-radius: 85px;
  border-bottom: 30px;
  border-top: 30px;
  margin-bottom: 120px;
  padding: 50px 50px;
  text-align: center;
  background-size: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 90%;
}
.button {
  background-color: rgba(128, 128, 128, 0.3);
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 50px 30px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: rgba(128, 128, 128, 0.7);
}

.content {
  color: white;
  font-size: 14pt;
  margin-bottom: 5px;
  text-shadow: 6px 6px 6px rgb(1, 1, 1);
}

.title {
  color: white;
  font-size: 24pt;
  font-weight: 800;
  text-shadow: 6px 6px 6px rgb(1, 1, 1);
}
.name {
  color: white;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
label {
  display: inline-block;
  background-color: rgba(0, 128, 128, 0.5);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;

  padding: 10px 20px;
  margin: 5px;
  transition: all 0.3s ease;
}

label:hover {
  background-color: rgba(0, 128, 128, 0.8);
  cursor: pointer;
}
